<div class="weekday">
    <% @day = @week.days.first %>
    <div class="day_title">
    <%= @day.title %>
    </div>
    <div class="day_date">
    <%= @day.date %>
    </div>
    <div class="day_notes">
    <% @day.notes.each do |n| %>
        <%= n.content %>
    <% end %>
    </div>
    <%= link_to '>', week_path(@week), :class => "week_path" %>
</div>
