<div class="weekday">
    <% @day = @week.days.first %>
    <div class="day_title">
    <%= @day.title %>
    </div>
    <div class="day_date">
    <%= @day.date %>
    </div>
    <% @week.days.first.notes.each do |n| %>
        <%= n.content %>
    <% end %>
    <%= link_to '>', week_path(@week), :class => "week_path" %>
</div>
